### Import the required libraries

In [ ]:
import pandas as pd

## Apply vertical flip to annotations file

In [ ]:
# read annotations file
 
annotations_df = pd.read_csv(r'/content/deeper_data/annotated_images_pilot_study/annotations_for_model_6spp_good_qual.csv',header=None)

In [ ]:
annotations_df = annotations_df.sort_values(by=[1])
annotations_df.head()

,0,1,2,3,4,5,6,7,8
1539,TRAIN,0016c9bf-8824-41c5-8729-b6496a3c3d56.jpg,Perca fluviatilis,0.437500,0.350000,NaN,NaN,0.728125,0.817969
652,TRAIN,001a840b-bf8c-4101-8414-696e18abee50.jpg,Esox lucius,0.071726,0.019531,NaN,NaN,0.724532,0.796875
810,TRAIN,0031550a-647e-4d31-a374-ca0b958e6097.jpg,Esox lucius,0.236276,0.403649,NaN,NaN,1.000000,0.746302
889,TRAIN,00510ead-0914-4f85-bf22-5cae0ed9d506.jpg,Esox lucius,0.346191,0.530831,NaN,NaN,0.767486,0.772693
1240,TRAIN,005149a5-c25a-4dfb-b2df-448304076daa.jpg,Perca fluviatilis,0.133037,0.279493,NaN,NaN,0.658783,0.884785

In [ ]:
len(annotations_df)

1826

In [ ]:
xmin = annotations_df[3]
ymin = 1-annotations_df[8]
xmax = annotations_df[7]
ymax = 1-annotations_df[4]
filename = 'vertical-flip_' + annotations_df[1].astype(str)

annotations_vertical_flip = annotations_df

annotations_vertical_flip['x_min'] = xmin
annotations_vertical_flip['y_min'] = ymin
annotations_vertical_flip['x_max'] = xmax
annotations_vertical_flip['y_max'] = ymax
annotations_vertical_flip['filename'] = filename
annotations_vertical_flip.head(5)

,0,1,2,3,4,5,6,7,8,x_min,y_min,x_max,y_max,filename
1539,TRAIN,0016c9bf-8824-41c5-8729-b6496a3c3d56.jpg,Perca fluviatilis,0.437500,0.350000,NaN,NaN,0.728125,0.817969,0.437500,0.182031,0.728125,0.650000,vertical-flip_0016c9bf-8824-41c5-8729-b6496a3c...
652,TRAIN,001a840b-bf8c-4101-8414-696e18abee50.jpg,Esox lucius,0.071726,0.019531,NaN,NaN,0.724532,0.796875,0.071726,0.203125,0.724532,0.980469,vertical-flip_001a840b-bf8c-4101-8414-696e18ab...
810,TRAIN,0031550a-647e-4d31-a374-ca0b958e6097.jpg,Esox lucius,0.236276,0.403649,NaN,NaN,1.000000,0.746302,0.236276,0.253698,1.000000,0.596351,vertical-flip_0031550a-647e-4d31-a374-ca0b958e...
889,TRAIN,00510ead-0914-4f85-bf22-5cae0ed9d506.jpg,Esox lucius,0.346191,0.530831,NaN,NaN,0.767486,0.772693,0.346191,0.227307,0.767486,0.469169,vertical-flip_00510ead-0914-4f85-bf22-5cae0ed9...
1240,TRAIN,005149a5-c25a-4dfb-b2df-448304076daa.jpg,Perca fluviatilis,0.133037,0.279493,NaN,NaN,0.658783,0.884785,0.133037,0.115215,0.658783,0.720507,vertical-flip_005149a5-c25a-4dfb-b2df-44830407...

In [ ]:
annotations_vertical_flip.columns = ['dataset','filename_old','species', 'x_min', 'y_min', 'empty1','empty2', 'x_max', 'y_max',
                                       'xmin_vertical_flip','ymin_vertical_flip','xmax_vertical_flip','ymax_vertical_flip', 'filename']

In [ ]:
annotations_vertical_flip = annotations_vertical_flip[['dataset', 'filename','species', 'xmin_vertical_flip','ymin_vertical_flip','empty1','empty2',
                                                           'xmax_vertical_flip','ymax_vertical_flip', 'empty1','empty2',]]
annotations_vertical_flip.head(5)

,dataset,filename,species,xmin_vertical_flip,ymin_vertical_flip,empty1,empty2,xmax_vertical_flip,ymax_vertical_flip,empty1,empty2
1539,TRAIN,vertical-flip_0016c9bf-8824-41c5-8729-b6496a3c...,Perca fluviatilis,0.437500,0.182031,NaN,NaN,0.728125,0.650000,NaN,NaN
652,TRAIN,vertical-flip_001a840b-bf8c-4101-8414-696e18ab...,Esox lucius,0.071726,0.203125,NaN,NaN,0.724532,0.980469,NaN,NaN
810,TRAIN,vertical-flip_0031550a-647e-4d31-a374-ca0b958e...,Esox lucius,0.236276,0.253698,NaN,NaN,1.000000,0.596351,NaN,NaN
889,TRAIN,vertical-flip_00510ead-0914-4f85-bf22-5cae0ed9...,Esox lucius,0.346191,0.227307,NaN,NaN,0.767486,0.469169,NaN,NaN
1240,TRAIN,vertical-flip_005149a5-c25a-4dfb-b2df-44830407...,Perca fluviatilis,0.133037,0.115215,NaN,NaN,0.658783,0.720507,NaN,NaN

In [ ]:
annotations_vertical_flip.to_csv('annotations_vertical_flip.csv')

## Apply horizontal flip to annotations file

In [ ]:
# read annotations file

annotations_df = pd.read_csv(r'/content/deeper_data/annotated_images_pilot_study/annotations_for_model_6spp_good_qual.csv',header=None)

In [ ]:
annotations_df = annotations_df.sort_values(by=[1])
annotations_df.head()

,0,1,2,3,4,5,6,7,8
1539,TRAIN,0016c9bf-8824-41c5-8729-b6496a3c3d56.jpg,Perca fluviatilis,0.437500,0.350000,NaN,NaN,0.728125,0.817969
652,TRAIN,001a840b-bf8c-4101-8414-696e18abee50.jpg,Esox lucius,0.071726,0.019531,NaN,NaN,0.724532,0.796875
810,TRAIN,0031550a-647e-4d31-a374-ca0b958e6097.jpg,Esox lucius,0.236276,0.403649,NaN,NaN,1.000000,0.746302
889,TRAIN,00510ead-0914-4f85-bf22-5cae0ed9d506.jpg,Esox lucius,0.346191,0.530831,NaN,NaN,0.767486,0.772693
1240,TRAIN,005149a5-c25a-4dfb-b2df-448304076daa.jpg,Perca fluviatilis,0.133037,0.279493,NaN,NaN,0.658783,0.884785

In [ ]:
xmin = 1-annotations_df[7]
ymin = annotations_df[4]
xmax = 1-annotations_df[3]
ymax = annotations_df[8]
filename = 'horizontal-flip_' + annotations_df[1].astype(str)

annotations_horizontal_flip = annotations_df

annotations_horizontal_flip['x_min'] = xmin
annotations_horizontal_flip['y_min'] = ymin
annotations_horizontal_flip['x_max'] = xmax
annotations_horizontal_flip['y_max'] = ymax
annotations_horizontal_flip['filename'] = filename
annotations_horizontal_flip.head(5)

,0,1,2,3,4,5,6,7,8,x_min,y_min,x_max,y_max,filename
1539,TRAIN,0016c9bf-8824-41c5-8729-b6496a3c3d56.jpg,Perca fluviatilis,0.437500,0.350000,NaN,NaN,0.728125,0.817969,0.271875,0.350000,0.562500,0.817969,horizontal-flip_0016c9bf-8824-41c5-8729-b6496a...
652,TRAIN,001a840b-bf8c-4101-8414-696e18abee50.jpg,Esox lucius,0.071726,0.019531,NaN,NaN,0.724532,0.796875,0.275468,0.019531,0.928274,0.796875,horizontal-flip_001a840b-bf8c-4101-8414-696e18...
810,TRAIN,0031550a-647e-4d31-a374-ca0b958e6097.jpg,Esox lucius,0.236276,0.403649,NaN,NaN,1.000000,0.746302,0.000000,0.403649,0.763724,0.746302,horizontal-flip_0031550a-647e-4d31-a374-ca0b95...
889,TRAIN,00510ead-0914-4f85-bf22-5cae0ed9d506.jpg,Esox lucius,0.346191,0.530831,NaN,NaN,0.767486,0.772693,0.232514,0.530831,0.653809,0.772693,horizontal-flip_00510ead-0914-4f85-bf22-5cae0e...
1240,TRAIN,005149a5-c25a-4dfb-b2df-448304076daa.jpg,Perca fluviatilis,0.133037,0.279493,NaN,NaN,0.658783,0.884785,0.341217,0.279493,0.866963,0.884785,horizontal-flip_005149a5-c25a-4dfb-b2df-448304...

In [ ]:
annotations_horizontal_flip.columns = ['dataset','filename_old','species', 'x_min', 'y_min', 'empty1','empty2', 'x_max', 'y_max',
                                       'xmin_horizontal_flip','ymin_horizontal_flip','xmax_horizontal_flip','ymax_horizontal_flip', 'filename']

In [ ]:
annotations_horizontal_flip = annotations_horizontal_flip[['dataset', 'filename','species', 'xmin_horizontal_flip','ymin_horizontal_flip','empty1','empty2',
                                                           'xmax_horizontal_flip','ymax_horizontal_flip', 'empty1','empty2',]]
annotations_horizontal_flip.head(5)

,dataset,filename,species,xmin_horizontal_flip,ymin_horizontal_flip,empty1,empty2,xmax_horizontal_flip,ymax_horizontal_flip,empty1,empty2
1539,TRAIN,horizontal-flip_0016c9bf-8824-41c5-8729-b6496a...,Perca fluviatilis,0.271875,0.350000,NaN,NaN,0.562500,0.817969,NaN,NaN
652,TRAIN,horizontal-flip_001a840b-bf8c-4101-8414-696e18...,Esox lucius,0.275468,0.019531,NaN,NaN,0.928274,0.796875,NaN,NaN
810,TRAIN,horizontal-flip_0031550a-647e-4d31-a374-ca0b95...,Esox lucius,0.000000,0.403649,NaN,NaN,0.763724,0.746302,NaN,NaN
889,TRAIN,horizontal-flip_00510ead-0914-4f85-bf22-5cae0e...,Esox lucius,0.232514,0.530831,NaN,NaN,0.653809,0.772693,NaN,NaN
1240,TRAIN,horizontal-flip_005149a5-c25a-4dfb-b2df-448304...,Perca fluviatilis,0.341217,0.279493,NaN,NaN,0.866963,0.884785,NaN,NaN

In [ ]:
annotations_horizontal_flip.to_csv('annotations_horizontal_flip.csv')